Ginger/UnitTests/TestResources/AutoPilot/WSDLs/WorkOrderUpdate/WorkOrderUpdateSvc1.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com" name="WorkOrderUpdateSvc" targetNamespace="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com">
    <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.services.net.wom.oss.amdocs.com/DCN" xmlns:ns1="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" targetNamespace="http://www.services.net.wom.oss.amdocs.com/DCN" version="1.0">

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes"/>

  <xs:complexType name="GetDecisionTableDataResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element name="IsFound" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Outputs" type="tns:OutputType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OutputType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Output" type="tns:KeysType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeysType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Key" type="tns:KeyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KeyType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com" xmlns:ns2="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" xmlns:ns1="http://amdocs.com/oss/net/wom/services/workforcedomain/WorkOrderUpdate" targetNamespace="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com" version="1.0">

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/WorkOrderUpdate"/>

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes"/>

  <xs:element name="assignmentUpdate" type="tns:assignmentUpdate"/>

  <xs:element name="assignmentUpdateResponse" type="tns:assignmentUpdateResponse"/>

  <xs:element name="cancelUpdate" type="tns:cancelUpdate"/>

  <xs:element name="cancelUpdateResponse" type="tns:cancelUpdateResponse"/>

  <xs:element name="commentsUpdate" type="tns:commentsUpdate"/>

  <xs:element name="commentsUpdateResponse" type="tns:commentsUpdateResponse"/>

  <xs:element name="completeUpdate" type="tns:completeUpdate"/>

  <xs:element name="completeUpdateResponse" type="tns:completeUpdateResponse"/>

  <xs:element name="equipmentUpdate" type="tns:equipmentUpdate"/>

  <xs:element name="equipmentUpdateResponse" type="tns:equipmentUpdateResponse"/>

  <xs:element name="manualCallUpdate" type="tns:manualCallUpdate"/>

  <xs:element name="manualCallUpdateResponse" type="tns:manualCallUpdateResponse"/>

  <xs:element name="notDoneUpdate" type="tns:notDoneUpdate"/>

  <xs:element name="notDoneUpdateResponse" type="tns:notDoneUpdateResponse"/>

  <xs:element name="processingCodesUpdate" type="tns:processingCodesUpdate"/>

  <xs:element name="processingCodesUpdateResponse" type="tns:processingCodesUpdateResponse"/>

  <xs:element name="provisionUpdate" type="tns:provisionUpdate"/>

  <xs:element name="provisionUpdateResponse" type="tns:provisionUpdateResponse"/>

  <xs:element name="rescheduleUpdate" type="tns:rescheduleUpdate"/>

  <xs:element name="rescheduleUpdateResponse" type="tns:rescheduleUpdateResponse"/>

  <xs:element name="taskUpdate" type="tns:taskUpdate"/>

  <xs:element name="taskUpdateResponse" type="tns:taskUpdateResponse"/>

  <xs:element name="workOrderLockUpdate" type="tns:workOrderLockUpdate"/>

  <xs:element name="workOrderLockUpdateResponse" type="tns:workOrderLockUpdateResponse"/>

  <xs:element name="workOrderProgressUpdate" type="tns:workOrderProgressUpdate"/>

  <xs:element name="workOrderProgressUpdateResponse" type="tns:workOrderProgressUpdateResponse"/>

  <xs:complexType name="taskUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="taskUpdateRequest" type="ns1:TaskUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="taskUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="taskUpdateResponse" type="ns1:TaskUpdateResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equipmentUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="equipmentUpdateRequest" type="ns1:EquipmentUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="equipmentUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="equipmentUpdateResponse" type="ns1:EquipmentUpdateResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provisionUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="provisionUpdateRequest" type="ns1:ProvisionUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="provisionUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="provisionUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rescheduleUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="rescheduleUpdateRequest" type="ns1:RescheduleUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rescheduleUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="rescheduleUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="cancelUpdateRequest" type="ns1:CancelUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cancelUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="cancelUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notDoneUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="notDoneUpdateRequest" type="ns1:NotDoneUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notDoneUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="notDoneUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workOrderProgressUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="workOrderProgressUpdateRequest" type="ns1:WorkOrderProgressUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workOrderProgressUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="workOrderProgressUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processingCodesUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="processingCodesUpdateRequest" type="ns1:ProcessingCodesUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="processingCodesUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="processingCodesUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workOrderLockUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="workOrderLockUpdateRequest" type="ns1:WorkOrderLockUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="workOrderLockUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="workOrderLockUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="completeUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="completeUpdateRequest" type="ns1:CompleteUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="completeUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="completeUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assignmentUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="assignmentUpdateRequest" type="ns1:AssignmentUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assignmentUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="assignmentUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manualCallUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="manualCallUpdateRequest" type="ns1:ManualCallUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="manualCallUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="manualCallUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commentsUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="commentsUpdateRequest" type="ns1:CommentsUpdateRequestType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commentsUpdateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="commentsUpdateResponse" type="ns2:GenericResponseType"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amdocs.com/oss/net/wom/services/workforcedomain/workorderqueries" xmlns:ns1="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" elementFormDefault="qualified" targetNamespace="http://amdocs.com/oss/net/wom/services/workforcedomain/workorderqueries" version="1.0">

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes"/>

  <xs:complexType name="SearchWorkOrderResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="workOrderDetails" nillable="true" type="tns:WorkOrderDetailsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WorkOrderDetailsType">
    <xs:sequence>
      <xs:element name="workOrderId" type="xs:string"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="statusTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastOperatorId" type="xs:string"/>
      <xs:element name="statusReason" type="xs:string"/>
      <xs:element name="statusDate" type="xs:dateTime"/>
      <xs:element name="isPonr" type="xs:boolean"/>
      <xs:element name="isCutTheDrop" type="xs:boolean"/>
      <xs:element name="isCollectionPortOut" type="xs:boolean"/>
      <xs:element minOccurs="0" name="appointment" type="tns:AppointmentType"/>
      <xs:element minOccurs="0" name="job" type="tns:JobType"/>
      <xs:element minOccurs="0" name="estimatedDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="assignmentInfo" type="tns:AssignmentInfoType"/>
      <xs:element name="customer" type="tns:CustomerType"/>
      <xs:element name="addressId" type="xs:string"/>
      <xs:element minOccurs="0" name="comments" type="ns1:CommentsType"/>
      <xs:element name="tasks" type="ns1:TasksListType"/>
      <xs:element name="services" type="ns1:ServiceOrderItemsType"/>
      <xs:element minOccurs="0" name="processingCodes" type="ns1:ProcessingCodesListType"/>
      <xs:element minOccurs="0" name="found" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AppointmentType">
    <xs:sequence>
      <xs:element name="schedulingSystemID" type="xs:string"/>
      <xs:element name="schedulingSystemType" type="xs:string"/>
      <xs:element name="schedulingChannel" type="xs:string"/>
      <xs:element name="agentId" type="xs:string"/>
      <xs:element name="appointmentDate" type="xs:dateTime"/>
      <xs:element name="appointmentStart" type="xs:string"/>
      <xs:element name="appointmentEnd" type="xs:string"/>
      <xs:element name="timeSlotCode" type="xs:string"/>
      <xs:element minOccurs="0" name="rescheduleReason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="JobType">
    <xs:sequence>
      <xs:element name="jobType" type="xs:string"/>
      <xs:element name="jobClass" type="xs:string"/>
      <xs:element name="jobPriority" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssignmentInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="techEnrouteDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="techOnSiteDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="techCompleteDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="techWrapUpDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="actualDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="dueDate" type="xs:dateTime"/>
      <xs:element name="tsFulfillmentOrg" type="xs:string"/>
      <xs:element name="tsAgendaType" type="xs:string"/>
      <xs:element minOccurs="0" name="dealerCode" type="xs:string"/>
      <xs:element minOccurs="0" name="assignedTech" type="xs:string"/>
      <xs:element minOccurs="0" name="assignedTechOrg" type="xs:string"/>
      <xs:element minOccurs="0" name="assignedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="assignedEstimatedStartDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="estimatedJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="assignEstTrvlDuration" type="xs:integer"/>
      <xs:element name="completionReason" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="customerID" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPhone1" type="xs:string"/>
      <xs:element minOccurs="0" name="contactPhone2" type="xs:string"/>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element name="customerType" type="xs:string"/>
      <xs:element name="customerSubType" type="xs:string"/>
      <xs:element name="billingArrangement" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetWorkOrderResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="workOrderDetails" nillable="true" type="tns:WorkOrderDetailsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amdocs.com/oss/net/wom/services/workforcedomain/workorderactivities" xmlns:ns1="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" elementFormDefault="qualified" targetNamespace="http://amdocs.com/oss/net/wom/services/workforcedomain/workorderactivities" version="1.0">

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes"/>

  <xs:complexType name="CreateUpdateWorkOrderResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="createUpdateWorkOrderOutput" nillable="true" type="tns:CreateUpdateWorkOrderOutputType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CreateUpdateWorkOrderOutputType">
    <xs:sequence>
      <xs:element name="workOrderId" type="xs:string"/>
      <xs:element name="isRescheduleRequired" type="xs:boolean"/>
      <xs:element name="estimatedDuration" type="xs:integer"/>
      <xs:element name="jobType" type="xs:string"/>
      <xs:element name="jobPriority" type="xs:string"/>
      <xs:element name="schedulingInd" type="xs:boolean"/>
      <xs:element name="tasks" type="tns:TasksInfoListType"/>
      <xs:element minOccurs="0" name="origDealerCode" type="xs:string"/>
      <xs:element minOccurs="0" name="origTsAgendaType" type="xs:string"/>
      <xs:element name="echoBack" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TasksInfoListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="task" nillable="true" type="tns:TaskInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="reason" type="xs:string"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="relServiceInstID" type="xs:string"/>
      <xs:element minOccurs="0" name="processingCodes" type="ns1:ProcessingCodesListType"/>
      <xs:element minOccurs="0" name="completionOrdinal" type="xs:integer"/>
      <xs:element minOccurs="0" name="taskSources" type="ns1:TaskSourcesListType"/>
      <xs:element name="taskAction" type="xs:string"/>
      <xs:element name="echoBack" type="xs:string"/>
      <xs:element minOccurs="0" name="previousTaskId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amdocs.com/oss/net/wom/services/workforcedomain/WorkOrderUpdate" xmlns:ns1="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" elementFormDefault="qualified" targetNamespace="http://amdocs.com/oss/net/wom/services/workforcedomain/WorkOrderUpdate" version="1.0">

  <xs:import namespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes"/>

  <xs:complexType name="TaskUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="TaskId" type="xs:string"/>
      <xs:element name="TaskCode" type="xs:string"/>
      <xs:element name="TaskStatus" type="xs:string"/>
      <xs:element name="StatusDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TaskAction" type="xs:string"/>
      <xs:element minOccurs="0" name="TaskLabor" type="xs:decimal"/>
      <xs:element minOccurs="0" name="TaskReason" type="xs:string"/>
      <xs:element minOccurs="0" name="TaskComment" type="xs:string"/>
      <xs:element minOccurs="0" name="LogicalEquipmentId" type="xs:string"/>
      <xs:element minOccurs="0" name="CompletionOrdinal" type="xs:string"/>
      <xs:element minOccurs="0" name="Extensions" type="ns1:ExtensionsType"/>
      <xs:element minOccurs="0" name="ProcessingCodes" type="tns:ProcessingCodesType"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="InfoType">
    <xs:sequence>
      <xs:element name="workOrderId" type="xs:string"/>
      <xs:element name="operatorId" type="xs:string"/>
      <xs:element name="SourceId" type="xs:string"/>
      <xs:element name="AccountId" type="xs:string"/>
      <xs:element name="FsrId" type="xs:string"/>
      <xs:element minOccurs="0" name="FsrOrganizationId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WorkOrderExtension">
    <xs:complexContent>
      <xs:extension base="ns1:ExtensionType">
        <xs:sequence>
          <xs:element name="Class" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProcessingCodesType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProblemCodes" type="tns:ProcessingCodeListsType"/>
      <xs:element minOccurs="0" name="FindingCodes" type="tns:ProcessingCodeListsType"/>
      <xs:element minOccurs="0" name="SolutionCodes" type="tns:ProcessingCodeListsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessingCodeListsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ProcessingCode" type="tns:ProcessingCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessingCodeType">
    <xs:all>
      <xs:element name="Code" type="xs:string"/>
      <xs:element minOccurs="0" name="Description" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TaskUpdateResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="TaskId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EquipmentUpdateResponseType">
    <xs:complexContent>
      <xs:extension base="ns1:GenericResponseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="PortResponses" type="tns:PortResponsesType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PortResponsesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="PortResponse" type="tns:PortResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PortResponseType">
    <xs:all>
      <xs:element name="PhysicalPortId" type="xs:string"/>
      <xs:element minOccurs="0" name="ServiceCategory" type="xs:string"/>
      <xs:element minOccurs="0" name="MACAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="PortStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="Error" type="ns1:ErrorType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EquipmentUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="EquipmentAdd" type="tns:EquipmentAddType"/>
      <xs:element minOccurs="0" name="EquipmentRemove" type="tns:EquipmentRemoveType"/>
      <xs:element minOccurs="0" name="EquipmentModify" type="tns:EquipmentModifyType"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EquipmentAddType">
    <xs:sequence>
      <xs:element name="EquipmentInfo" type="tns:EquipmentInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EquipmentInfoType">
    <xs:sequence>
      <xs:element name="EquipmentSerialNum" type="xs:string"/>
      <xs:element name="EquipmentType" type="xs:string"/>
      <xs:element name="Ports" type="tns:PortsType"/>
      <xs:element minOccurs="0" name="LogicalEquipmentId" type="xs:string"/>
      <xs:element minOccurs="0" name="EquipmentOwner" type="xs:string"/>
      <xs:element minOccurs="0" name="EquipmentLocCode" type="xs:string"/>
      <xs:element minOccurs="0" name="EquipmentMake" type="xs:string"/>
      <xs:element minOccurs="0" name="EquipmentModel" type="xs:string"/>
      <xs:element minOccurs="0" name="Extensions" type="ns1:ExtensionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PortsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Port" type="tns:PortType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PortType">
    <xs:all>
      <xs:element name="PhysicalPortId" type="xs:string"/>
      <xs:element name="LogicalPortId" type="xs:string"/>
      <xs:element minOccurs="0" name="AccountId" type="xs:string"/>
      <xs:element minOccurs="0" name="ServiceCategory" type="xs:string"/>
      <xs:element minOccurs="0" name="MACAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="PortStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="Action" type="xs:string"/>
      <xs:element minOccurs="0" name="Extensions" type="ns1:ExtensionsType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EquipmentRemoveType">
    <xs:all>
      <xs:element name="EquipmentInfo" type="tns:EquipmentInfoType"/>
      <xs:element minOccurs="0" name="EquipmentReturnReason" type="xs:string"/>
      <xs:element minOccurs="0" name="EquipmentReturnComment" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EquipmentModifyType">
    <xs:sequence>
      <xs:element name="EquipmentInfo" type="tns:EquipmentInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProvisionUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="ProvisionType" type="xs:string"/>
      <xs:element name="Equipment" type="tns:EquipmentInfoType"/>
      <xs:element minOccurs="0" name="Services" type="tns:ServicesType"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ServicesType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="tns:ServiceType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:all>
      <xs:element name="ServiceCode" type="xs:string"/>
      <xs:element name="LogicalPortId" type="xs:string"/>
      <xs:element name="ServiceAction" type="xs:string"/>
      <xs:element minOccurs="0" name="ServiceDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="ServiceCategory" type="xs:string"/>
      <xs:element minOccurs="0" name="ServiceFee" type="xs:decimal"/>
      <xs:element minOccurs="0" name="ServiceDetail" type="xs:string"/>
      <xs:element minOccurs="0" name="Extensions" type="ns1:ExtensionsType"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="RescheduleUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="ScheduleDate" type="xs:date"/>
      <xs:element name="TimeSlotCode" type="xs:string"/>
      <xs:element name="TimeSlotStart" type="xs:string"/>
      <xs:element name="TimeSlotEnd" type="xs:string"/>
      <xs:element name="ReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="PreviousScheduleDate" type="xs:date"/>
      <xs:element minOccurs="0" name="PreviousTimeSlotCode" type="xs:string"/>
      <xs:element minOccurs="0" name="PreviousTimeSlotStart" type="xs:string"/>
      <xs:element minOccurs="0" name="PreviousTimeSlotEnd" type="xs:string"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CancelUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
      <xs:element name="ActCancelDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActEnrouteDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="NotDoneUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ActNotDoneDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActEnrouteDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="WorkOrderProgressUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="ProgressCode" type="xs:string"/>
      <xs:element name="ProgressDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ProcessingCodesUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="ProcessingCodes" type="tns:ProcessingCodesType"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="WorkOrderLockUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="LockStatusCode" type="xs:string"/>
      <xs:element minOccurs="0" name="LockStatusReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CompleteUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="ActEnrouteDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActCompleteDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActWrapUpDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="ActJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactName" type="xs:string"/>
      <xs:element minOccurs="0" name="TagId" type="xs:string"/>
      <xs:element minOccurs="0" name="Comments" type="ns1:CommentsType"/>
      <xs:element minOccurs="0" name="ProcessingCodes" type="tns:ProcessingCodesType"/>
      <xs:element minOccurs="0" name="WorkOrderExtensions" type="tns:WorkOrderExtensions"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="WorkOrderExtensions">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="WorkOrderExtension" type="tns:WorkOrderExtension"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssignmentUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element minOccurs="0" name="ScheduleDate" type="xs:date"/>
      <xs:element name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="PreviousFsrId" type="xs:string"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ManualCallUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="TimeOfCall" type="xs:dateTime"/>
      <xs:element name="PhoneCalled" type="xs:string"/>
      <xs:element name="CallStatus" type="xs:string"/>
      <xs:element minOccurs="0" name="CallStatusDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactName" type="xs:string"/>
      <xs:element minOccurs="0" name="CallComment" type="xs:string"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="CommentsUpdateRequestType">
    <xs:all>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="Comments" type="ns1:CommentsType"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TasksType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Task" type="tns:TaskInfoType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskInfoType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TaskId" type="xs:string"/>
      <xs:element name="TaskCode" type="xs:string"/>
      <xs:element name="TaskStatus" type="xs:string"/>
      <xs:element name="StatusDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="TaskAction" type="xs:string"/>
      <xs:element minOccurs="0" name="TaskLabor" type="xs:decimal"/>
      <xs:element minOccurs="0" name="TaskReason" type="xs:string"/>
      <xs:element minOccurs="0" name="TaskComment" type="xs:string"/>
      <xs:element minOccurs="0" name="LogicalEquipmentId" type="xs:string"/>
      <xs:element minOccurs="0" name="CompletionOrdinal" type="xs:string"/>
      <xs:element minOccurs="0" name="Extensions" type="ns1:ExtensionsType"/>
      <xs:element minOccurs="0" name="ProcessingCodes" type="tns:ProcessingCodesType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EquipmentUpdateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EquipmentAdd" type="tns:EquipmentAddType"/>
      <xs:element minOccurs="0" name="EquipmentRemove" type="tns:EquipmentRemoveType"/>
      <xs:element minOccurs="0" name="EquipmentModify" type="tns:EquipmentModifyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EquipmentItemsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="EquipmentUpdate" type="tns:EquipmentUpdateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompleteWorkOrderResponseType">
    <xs:sequence>
      <xs:element name="result" type="xs:string"/>
      <xs:element minOccurs="0" name="error" type="ns1:ErrorList"/>
      <xs:element minOccurs="0" name="echoBack" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompleteWorkOrderRequestType">
    <xs:sequence>
      <xs:element name="WorkOrderInfo" type="tns:InfoType"/>
      <xs:element name="ActEnrouteDateTime" type="xs:dateTime"/>
      <xs:element name="ActStartDateTime" type="xs:dateTime"/>
      <xs:element name="ActCompleteDateTime" type="xs:dateTime"/>
      <xs:element name="ActWrapUpDateTime" type="xs:dateTime"/>
      <xs:element name="ActJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstStartDateTime" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="EstJobDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="EstTravelDuration" type="xs:integer"/>
      <xs:element minOccurs="0" name="ReasonCode" type="xs:string"/>
      <xs:element minOccurs="0" name="ContactName" type="xs:string"/>
      <xs:element minOccurs="0" name="TagId" type="xs:string"/>
      <xs:element minOccurs="0" name="ProcessingCodes" type="tns:ProcessingCodesType"/>
      <xs:element minOccurs="0" name="EquipmentItems" type="tns:EquipmentItemsType"/>
      <xs:element minOccurs="0" name="Tasks" type="tns:TasksType"/>
      <xs:element minOccurs="0" name="WorkOrderExtensions" type="tns:WorkOrderExtensions"/>
      <xs:element minOccurs="0" name="EchoBack" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" elementFormDefault="qualified" targetNamespace="http://amdocs.com/oss/net/wom/services/workforcedomain/CommonTypes" version="1.0">

  <xs:complexType name="ExtensionsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" nillable="true" type="tns:ExtensionType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExtensionType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GenericResponseType">
    <xs:sequence>
      <xs:element name="result" type="xs:string"/>
      <xs:element minOccurs="0" name="error" type="tns:ErrorType"/>
      <xs:element minOccurs="0" name="echoBack" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorType">
    <xs:all>
      <xs:element name="errorCode" type="xs:string"/>
      <xs:element name="errorDescription" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="ProcessingCodesListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="processingCode" nillable="true" type="tns:ProcessingCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessingCodeType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskSourcesListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="taskSource" nillable="true" type="tns:TaskSourceType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskSourceType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommentsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="comment" nillable="true" type="tns:CommentType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CommentType">
    <xs:all>
      <xs:element name="commentType" type="xs:string"/>
      <xs:element name="commentText" type="xs:string"/>
      <xs:element minOccurs="0" name="commentLineNum" type="xs:int"/>
      <xs:element minOccurs="0" name="commentTypeDescription" type="xs:string"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="TasksListType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="task" nillable="true" type="tns:TaskType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TaskType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element minOccurs="0" name="statusTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="statusReason" type="xs:string"/>
      <xs:element minOccurs="0" name="statusDate" type="xs:dateTime"/>
      <xs:element name="reason" type="xs:string"/>
      <xs:element minOccurs="0" name="reasonDescription" type="xs:string"/>
      <xs:element minOccurs="0" name="comment" type="xs:string"/>
      <xs:element minOccurs="0" name="labor" type="xs:decimal"/>
      <xs:element minOccurs="0" name="convenience1" type="xs:string"/>
      <xs:element minOccurs="0" name="convenience2" type="xs:string"/>
      <xs:element minOccurs="0" name="convenience3" type="xs:string"/>
      <xs:element minOccurs="0" name="relServiceInstID" type="xs:string"/>
      <xs:element minOccurs="0" name="processingCodes" type="tns:ProcessingCodesListType"/>
      <xs:element minOccurs="0" name="completionOrdinal" type="xs:integer"/>
      <xs:element minOccurs="0" name="taskSources" type="tns:TaskSourcesListType"/>
      <xs:element minOccurs="0" name="taskAction" type="xs:string"/>
      <xs:element minOccurs="0" name="previousTaskId" type="xs:string"/>
      <xs:element minOccurs="0" name="accreditedReturnTaskCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceOrderItemsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:ServiceType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="keys" type="tns:ServiceKeysType"/>
      <xs:element name="action" type="xs:string"/>
      <xs:element name="serviceAction" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
      <xs:element name="serviceSpecification" type="tns:ServiceSpecificationType"/>
      <xs:element minOccurs="0" name="describedBy" type="tns:ServiceCharacteristicsType"/>
      <xs:element minOccurs="0" name="serviceOrderItems" type="tns:ServiceOrderItemsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceKeysType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="key" type="tns:ServiceKeyType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceKeyType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceSpecificationType">
    <xs:sequence>
      <xs:element name="type" type="xs:string"/>
      <xs:element name="code" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceCharacteristicsType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:ServiceCharacteristicType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceCharacteristicType">
    <xs:sequence>
      <xs:element name="characteristic" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="error" nillable="true" type="tns:ErrorType"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
    </wsdl:types>
    <wsdl:message name="taskUpdate">
        <wsdl:part element="ns1:taskUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="taskUpdateResponse">
        <wsdl:part element="ns1:taskUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="equipmentUpdate">
        <wsdl:part element="ns1:equipmentUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="equipmentUpdateResponse">
        <wsdl:part element="ns1:equipmentUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="provisionUpdate">
        <wsdl:part element="ns1:provisionUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="provisionUpdateResponse">
        <wsdl:part element="ns1:provisionUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rescheduleUpdate">
        <wsdl:part element="ns1:rescheduleUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="rescheduleUpdateResponse">
        <wsdl:part element="ns1:rescheduleUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancelUpdate">
        <wsdl:part element="ns1:cancelUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="cancelUpdateResponse">
        <wsdl:part element="ns1:cancelUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notDoneUpdate">
        <wsdl:part element="ns1:notDoneUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="notDoneUpdateResponse">
        <wsdl:part element="ns1:notDoneUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="workOrderProgressUpdate">
        <wsdl:part element="ns1:workOrderProgressUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="workOrderProgressUpdateResponse">
        <wsdl:part element="ns1:workOrderProgressUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="processingCodesUpdate">
        <wsdl:part element="ns1:processingCodesUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="processingCodesUpdateResponse">
        <wsdl:part element="ns1:processingCodesUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="workOrderLockUpdate">
        <wsdl:part element="ns1:workOrderLockUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="workOrderLockUpdateResponse">
        <wsdl:part element="ns1:workOrderLockUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="completeUpdate">
        <wsdl:part element="ns1:completeUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="completeUpdateResponse">
        <wsdl:part element="ns1:completeUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="assignmentUpdate">
        <wsdl:part element="ns1:assignmentUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="assignmentUpdateResponse">
        <wsdl:part element="ns1:assignmentUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="manualCallUpdate">
        <wsdl:part element="ns1:manualCallUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="manualCallUpdateResponse">
        <wsdl:part element="ns1:manualCallUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commentsUpdate">
        <wsdl:part element="ns1:commentsUpdate" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="commentsUpdateResponse">
        <wsdl:part element="ns1:commentsUpdateResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WorkOrderUpdateSvc">
        <wsdl:operation name="taskUpdate">
            <wsdl:input message="ns1:taskUpdate" name="taskUpdate"/>
            <wsdl:output message="ns1:taskUpdateResponse" name="taskUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="equipmentUpdate">
            <wsdl:input message="ns1:equipmentUpdate" name="equipmentUpdate"/>
            <wsdl:output message="ns1:equipmentUpdateResponse" name="equipmentUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="provisionUpdate">
            <wsdl:input message="ns1:provisionUpdate" name="provisionUpdate"/>
            <wsdl:output message="ns1:provisionUpdateResponse" name="provisionUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="rescheduleUpdate">
            <wsdl:input message="ns1:rescheduleUpdate" name="rescheduleUpdate"/>
            <wsdl:output message="ns1:rescheduleUpdateResponse" name="rescheduleUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cancelUpdate">
            <wsdl:input message="ns1:cancelUpdate" name="cancelUpdate"/>
            <wsdl:output message="ns1:cancelUpdateResponse" name="cancelUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="notDoneUpdate">
            <wsdl:input message="ns1:notDoneUpdate" name="notDoneUpdate"/>
            <wsdl:output message="ns1:notDoneUpdateResponse" name="notDoneUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="workOrderProgressUpdate">
            <wsdl:input message="ns1:workOrderProgressUpdate" name="workOrderProgressUpdate"/>
            <wsdl:output message="ns1:workOrderProgressUpdateResponse" name="workOrderProgressUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processingCodesUpdate">
            <wsdl:input message="ns1:processingCodesUpdate" name="processingCodesUpdate"/>
            <wsdl:output message="ns1:processingCodesUpdateResponse" name="processingCodesUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="workOrderLockUpdate">
            <wsdl:input message="ns1:workOrderLockUpdate" name="workOrderLockUpdate"/>
            <wsdl:output message="ns1:workOrderLockUpdateResponse" name="workOrderLockUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeUpdate">
            <wsdl:input message="ns1:completeUpdate" name="completeUpdate"/>
            <wsdl:output message="ns1:completeUpdateResponse" name="completeUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="assignmentUpdate">
            <wsdl:input message="ns1:assignmentUpdate" name="assignmentUpdate"/>
            <wsdl:output message="ns1:assignmentUpdateResponse" name="assignmentUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="manualCallUpdate">
            <wsdl:input message="ns1:manualCallUpdate" name="manualCallUpdate"/>
            <wsdl:output message="ns1:manualCallUpdateResponse" name="manualCallUpdateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="commentsUpdate">
            <wsdl:input message="ns1:commentsUpdate" name="commentsUpdate"/>
            <wsdl:output message="ns1:commentsUpdateResponse" name="commentsUpdateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>