Ginger/GingerCoreTest/TestResources/AutoPilot/WSDLs/delayedstockquote.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ws.cdyne.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ws.cdyne.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.cdyne.com/">
      <s:element name="GetQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQuoteResult" type="tns:QuoteData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuoteData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTradeAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LastTradeDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="StockChange" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OpenAmount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DayHigh" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DayLow" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="StockVolume" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PrevCls" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangePercent" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiftyTwoWeekRange" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EarnPerShare" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PE" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="QuoteError" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQuickQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockSymbol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuickQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQuickQuoteResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StockSymbols" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuoteDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuoteDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuoteData" type="tns:QuoteData" />
      <s:element name="decimal" type="s:decimal" />
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="GetQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuickQuote" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuickQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuoteDataSet" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuoteDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetIn">
    <wsdl:part name="StockSymbol" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpGetOut">
    <wsdl:part name="Body" element="tns:QuoteData" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpGetIn">
    <wsdl:part name="StockSymbol" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpGetIn">
    <wsdl:part name="StockSymbols" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostIn">
    <wsdl:part name="StockSymbol" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:QuoteData" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpPostIn">
    <wsdl:part name="StockSymbol" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuickQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpPostIn">
    <wsdl:part name="StockSymbols" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuoteDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="DelayedStockQuoteSoap">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves a current stock quote.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteSoapIn" />
      <wsdl:output message="tns:GetQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves just a stock price.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuickQuoteSoapIn" />
      <wsdl:output message="tns:GetQuickQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves the stock information and returns it in a dataset.  Use a , to display multiple quotes.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteDataSetSoapIn" />
      <wsdl:output message="tns:GetQuoteDataSetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DelayedStockQuoteHttpGet">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves a current stock quote.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpGetIn" />
      <wsdl:output message="tns:GetQuoteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves just a stock price.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuickQuoteHttpGetIn" />
      <wsdl:output message="tns:GetQuickQuoteHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves the stock information and returns it in a dataset.  Use a , to display multiple quotes.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteDataSetHttpGetIn" />
      <wsdl:output message="tns:GetQuoteDataSetHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DelayedStockQuoteHttpPost">
    <wsdl:operation name="GetQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves a current stock quote.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteHttpPostIn" />
      <wsdl:output message="tns:GetQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves just a stock price.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuickQuoteHttpPostIn" />
      <wsdl:output message="tns:GetQuickQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method retrieves the stock information and returns it in a dataset.  Use a , to display multiple quotes.  Use a license key of 0 for testing.</wsdl:documentation>
      <wsdl:input message="tns:GetQuoteDataSetHttpPostIn" />
      <wsdl:output message="tns:GetQuoteDataSetHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DelayedStockQuoteSoap" type="tns:DelayedStockQuoteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://ws.cdyne.com/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <soap:operation soapAction="http://ws.cdyne.com/GetQuickQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <soap:operation soapAction="http://ws.cdyne.com/GetQuoteDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DelayedStockQuoteSoap12" type="tns:DelayedStockQuoteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap12:operation soapAction="http://ws.cdyne.com/GetQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <soap12:operation soapAction="http://ws.cdyne.com/GetQuickQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <soap12:operation soapAction="http://ws.cdyne.com/GetQuoteDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DelayedStockQuoteHttpGet" type="tns:DelayedStockQuoteHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <http:operation location="/GetQuickQuote" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <http:operation location="/GetQuoteDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DelayedStockQuoteHttpPost" type="tns:DelayedStockQuoteHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetQuote">
      <http:operation location="/GetQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickQuote">
      <http:operation location="/GetQuickQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuoteDataSet">
      <http:operation location="/GetQuoteDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DelayedStockQuote">
    <wsdl:port name="DelayedStockQuoteSoap" binding="tns:DelayedStockQuoteSoap">
      <soap:address location="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx" />
    </wsdl:port>
    <wsdl:port name="DelayedStockQuoteSoap12" binding="tns:DelayedStockQuoteSoap12">
      <soap12:address location="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx" />
    </wsdl:port>
    <wsdl:port name="DelayedStockQuoteHttpGet" binding="tns:DelayedStockQuoteHttpGet">
      <http:address location="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx" />
    </wsdl:port>
    <wsdl:port name="DelayedStockQuoteHttpPost" binding="tns:DelayedStockQuoteHttpPost">
      <http:address location="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>