Ginger/Unit Tests/TestResources/AutoPilot/WSDLs/WorkOrderUpdate/WorkOrderUpdateSvc.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.net.oss.amdocs.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com" name="WorkOrderUpdateSvc" targetNamespace="http://services.net.oss.amdocs.com/">
    <wsdl:import location="WorkOrderUpdateSvc1.wsdl" namespace="http://workOrderUpdateSvc.workforcedomain.services.net.wom.oss.amdocs.com"/>
    <wsdl:binding name="WorkOrderUpdateSvcSoapBinding" type="ns1:WorkOrderUpdateSvc">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="taskUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="taskUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="taskUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="equipmentUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="equipmentUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="equipmentUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="provisionUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="provisionUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="provisionUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="rescheduleUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="rescheduleUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rescheduleUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="cancelUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cancelUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notDoneUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="notDoneUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="notDoneUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="workOrderProgressUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="workOrderProgressUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="workOrderProgressUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processingCodesUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="processingCodesUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="processingCodesUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="workOrderLockUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="workOrderLockUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="workOrderLockUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="completeUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="completeUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="assignmentUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="assignmentUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="assignmentUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="manualCallUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="manualCallUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="manualCallUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="commentsUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="commentsUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="commentsUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorkOrderUpdateSvc">
        <wsdl:port binding="tns:WorkOrderUpdateSvcSoapBinding" name="WorkOrderUpdateSvc">
            <soap:address location="http://net001uatlnx1379:20100/netwomservices/WorkOrderUpdateSvc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>