Ginger/GingerCoreTest/TestResources/WSDLs/RechargeServices.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.api.interfaces.sessions.rpm.amdocs" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.api.interfaces.sessions.rpm.amdocs" xmlns:intf="http://ws.api.interfaces.sessions.rpm.amdocs" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://datatypes.rpm.amdocs" xmlns:tns3="http://data.ws.infra.core.css.amdocs.com" xmlns:tns4="http://data.util.core.css.amdocs.com" xmlns:tns5="http://exceptions.utils.rpm.amdocs" xmlns:tns6="http://exceptions.acmarch.amdocs" xmlns:tns7="http://messageHandling.jutil.amdocs" xmlns:tns8="http://domaindatatypes.rpm.amdocs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!--WSDL created by << AWSI >> 7.0 build 207 & Apache Axis 1.4 Apr 22, 2006 (06:55:48 PDT).
Built on Sun May 25 16:21:33 IST 2014-->

  <wsdl:types>

    <schema targetNamespace="http://datatypes.rpm.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType abstract="true" name="BaseChannel">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="l9ApplicationId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9ApplicationIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9ApplicationIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TransactionId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9TransactionIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TransactionIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="referenceId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="referenceIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="referenceIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTime" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTimeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTimeUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType abstract="true" name="BaseRechargeMethod">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceType" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paySourceTypeUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType abstract="true" name="BaseRegularRechargeMethod">

        <complexContent>

          <extension base="tns2:BaseRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="amount" type="xsd:double"/>

              <element maxOccurs="1" minOccurs="0" name="amountNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="amountUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="currency" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="currencyNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="currencyUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDate" type="xsd:dateTime"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDateNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDateUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType abstract="true" name="BaseBucketIdent">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType abstract="true" name="BaseSubscriberIdent">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="AccumulationsAmountsInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="addBonusAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="addBonusAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="addBonusAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="createChargeAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="createChargeAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="createChargeAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="debtAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="debtAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="debtAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="instlAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="instlAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="instlAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="loanAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="loanAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="loanAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="reduceAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="reduceAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="reduceAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="regBonusAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="regBonusAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="regBonusAmtUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeAmountsInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="inputAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="inputAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="inputAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="inputCurrency" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="inputCurrencyNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="inputCurrencyUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="ppsAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsAmtUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsBalance" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="ppsBalanceNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsBalanceUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsNewBalance" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="ppsNewBalanceNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ppsNewBalanceUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgChlAmt" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="rcgChlAmtNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgChlAmtUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeBalanceExpirationInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="balExpDateCalc" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="balExpDateCalcNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="balExpDateCalcUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgNumOfDays" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="rcgNumOfDaysNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgNumOfDaysUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeBucketInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="balExpDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="balExpDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="balExpDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ban" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="banNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="banUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="ben" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="benNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="benUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="bucketId" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="bucketIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="bucketIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="crmExternalId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="crmExternalIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="crmExternalIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="currency" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="currencyNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="currencyUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="customerId" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="customerIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="customerIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9CancellationDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="l9CancellationDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9CancellationDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="pcn" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="pcnName" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="pcnNameNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="pcnNameUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="pcnNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="pcnUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeDatesInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="logicalDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="logicalDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="logicalDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="processDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="processDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="processDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgRefDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="rcgRefDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgRefDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgReqDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="rcgReqDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgReqDateUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeIdentInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="bucketKey" type="xsd:short"/>

          <element maxOccurs="1" minOccurs="0" name="bucketKeyNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="bucketKeyUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="periodKey" type="xsd:short"/>

          <element maxOccurs="1" minOccurs="0" name="periodKeyNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="periodKeyUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgId" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="rcgIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgIdUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeLogInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="cdMainId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="cdMainIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdMainIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdUniqueId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="cdUniqueIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdUniqueIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdVals" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="cdValsNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdValsUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="clientTimeStamp" type="xsd:long"/>

          <element maxOccurs="1" minOccurs="0" name="clientTimeStampNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="clientTimeStampUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AdjustmentComment" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9CsrId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9CsrIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9CsrIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9MerchantID" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9MerchantIDNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9MerchantIDUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAcknowledgement" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAcknowledgementNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAcknowledgementUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAuthorizationNo" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAuthorizationNoNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PtAuthorizationNoUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcgToSumInd" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcgToSumIndNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcgToSumIndUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RetailerID" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9RetailerIDNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RetailerIDUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TspTrxId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9TspTrxIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TspTrxIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9VstTrxId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9VstTrxIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9VstTrxIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="radTimeStamp" type="xsd:long"/>

          <element maxOccurs="1" minOccurs="0" name="radTimeStampNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="radTimeStampUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rmdMainId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="rmdMainIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rmdMainIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rmdVals" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="rmdValsNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rmdValsUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rplTimeStamp" type="xsd:long"/>

          <element maxOccurs="1" minOccurs="0" name="rplTimeStampNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rplTimeStampUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subIdVals" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="subIdValsNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subIdValsUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeStatusInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="cancelRcgType" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="cancelRcgTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cancelRcgTypeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdCancelRefId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="cdCancelRefIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="cdCancelRefIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="lastStsUpdate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="lastStsUpdateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="lastStsUpdateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgStatus" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="rcgStatusNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgStatusUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgId" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgType" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="relRcgTypeUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeSubscriberInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="l9SubscriberBrand" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9SubscriberBrandNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SubscriberBrandUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceType" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceTypeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceValue" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceValueNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="primaryResourceValueUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberNo" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberNoNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberNoUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeTypeInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="channelCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="channelCodeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="channelCodeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="methodCodeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodCodeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodGroup" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="methodGroupNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodGroupUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodType" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="methodTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodTypeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgType" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="rcgTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgTypeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="splitRcgSeq" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="splitRcgSeqNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="splitRcgSeqUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RechargeResult">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="accumulationsAmounts" type="tns2:AccumulationsAmountsInfo"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeAmountsInfo" type="tns2:RechargeAmountsInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeBalanceExpirationInfo" type="tns2:RechargeBalanceExpirationInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeBucketInfo" type="tns2:RechargeBucketInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeDatesInfo" type="tns2:RechargeDatesInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeIdentInfo" type="tns2:RechargeIdentInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeLogInfo" type="tns2:RechargeLogInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeStatusInfo" type="tns2:RechargeStatusInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeSubscriberInfo" type="tns2:RechargeSubscriberInfo"/>

          <element maxOccurs="1" minOccurs="0" name="rechargeTypeInfo" type="tns2:RechargeTypeInfo"/>

        </sequence>

      </complexType>

      <complexType abstract="true" name="BaseVoucherRechargeMethod">

        <complexContent>

          <extension base="tns2:BaseRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="coverDebitInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrId" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDate" type="xsd:dateTime"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDateNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RcDateUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="pinNumber" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="pinNumberNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="pinNumberUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="selectCriteria" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="selectCriteriaNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="selectCriteriaUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="serialNumber" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="serialNumberNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="serialNumberUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="uniqueValue" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="uniqueValueNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="uniqueValueUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="voucherType" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="voucherTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="voucherTypeUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9CAChannelInfo">

        <complexContent>

          <extension base="tns2:BaseChannel">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="l9LocationCode" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9LocationCodeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9LocationCodeUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9MerchantID" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9MerchantIDNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9MerchantIDUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9PreauthReqID" type="xsd:int"/>

              <element maxOccurs="1" minOccurs="0" name="l9PreauthReqIDNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9PreauthReqIDUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RetailerID" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9RetailerIDNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9RetailerIDUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9TspTrxId" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9TspTrxIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9TspTrxIdUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="CashRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="coverDebitInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9PreauthorizationMethodInfo">

        <complexContent>

          <extension base="tns2:CashRechargeMethodInfo">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9PreauthorizationRechargeResult">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="l9PreauthorizationID" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="l9PreauthorizationIDNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PreauthorizationIDUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PredictedBalance" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="l9PredictedBalanceNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PredictedBalanceUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RechargeID" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="l9RechargeIDNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RechargeIDUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SuccessPredictionIndicator" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="l9SuccessPredictionIndicatorNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SuccessPredictionIndicatorUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RPL9ReversibleCashMethodInfo">

        <complexContent>

          <extension base="tns2:CashRechargeMethodInfo">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType abstract="true" name="BaseCancelRechargeMethod">

        <complexContent>

          <extension base="tns2:BaseRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="rechargeId" type="xsd:int"/>

              <element maxOccurs="1" minOccurs="0" name="rechargeIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="rechargeIdUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="requestType" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="requestTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="requestTypeUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="CancelRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseCancelRechargeMethod">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9CancelReversibleCashMethodInfo">

        <complexContent>

          <extension base="tns2:CancelRechargeMethodInfo">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9RCAddOnInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="l9AmountRC" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="l9AmountRCNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AmountRCUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9Soc" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9SocDesc" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9SocDescNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SocDescUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SocNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SocUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxAmount" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxAmountNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxAmountUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxData" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxDataNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9TaxDataUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RPL9RCAddOnsInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="l9AddOn" type="impl:ArrayOf_tns2_RPL9RCAddOnInfo"/>

          <element maxOccurs="1" minOccurs="0" name="l9AddOnNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AddOnUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="RPL9VestaRechargeInputDetailsInfo">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="accountID" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="accountIDNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="accountIDUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonCodeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonCodeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonDesc" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonDescNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="adjustReasonDescUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="barOnInd" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="barOnIndNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="barOnIndUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="channelCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="channelCodeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="channelCodeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="currency" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="currencyNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="currencyUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AddOns" type="tns2:RPL9RCAddOnsInfo"/>

          <element maxOccurs="1" minOccurs="0" name="l9AddOnsNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AddOnsUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AnniversaryDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="l9AnniversaryDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9AnniversaryDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9IsFirstRC" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="l9IsFirstRCNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9IsFirstRCUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9NetworkInd" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="l9NetworkIndNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9NetworkIndUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9NumberOfAddOns" type="xsd:short"/>

          <element maxOccurs="1" minOccurs="0" name="l9NumberOfAddOnsNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9NumberOfAddOnsUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PremiumPlanId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9PremiumPlanIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9PremiumPlanIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RCReason" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9RCReasonNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RCReasonUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcDate" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcDateNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9RcDateUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SubBrand" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="l9SubBrandNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="l9SubBrandUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="methodCodeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="methodCodeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodLastFour" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodLastFourNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodLastFourUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodType" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodTypeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="paymentMethodTypeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgAmount" type="xsd:double"/>

          <element maxOccurs="1" minOccurs="0" name="rcgAmountNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rcgAmountUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTime" type="xsd:dateTime"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTimeNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="requestDateTimeUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberPTN" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberPTNNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="subscriberPTNUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="tspId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="tspIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="tspIdUnAssigned" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="vestaTrxId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="vestaTrxIdNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="vestaTrxIdUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

      <complexType name="SubscriberPrimaryResourceInfo">

        <complexContent>

          <extension base="tns2:BaseSubscriberIdent">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="l9AddIdentInfo" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9AddIdentInfoNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9AddIdentInfoUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceType" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceTypeUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceValue" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceValueNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="primaryResourceValueUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="CMChannelInfo">

        <complexContent>

          <extension base="tns2:BaseChannel">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPLChannelInfo">

        <complexContent>

          <extension base="tns2:BaseChannel">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9EPChannelInfo">

        <complexContent>

          <extension base="tns2:BaseChannel">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="PINRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="coverDebitInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="rpmPin" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="rpmPinNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="rpmPinUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="IncreaseRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="calcExpDateInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="calcExpDateIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="calcExpDateIndUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="increaseType" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="increaseTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="increaseTypeUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentComment" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrId" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDesc" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDescNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDescUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCode" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCodeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCodeUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="ReduceRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentComment" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9AdjustmentCommentUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrId" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9CsrIdUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDesc" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDescNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="l9ReasonDescUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCode" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCodeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reasonCodeUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reduceType" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="reduceTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="reduceTypeUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="CreditCardRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="coverDebitInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardExpDate" type="xsd:dateTime"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardExpDateNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardExpDateUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardNumber" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardNumberNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardNumberUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardType" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardTypeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="creditCardTypeUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="ChequeRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseRegularRechargeMethod">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="bankAcctNumber" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="bankAcctNumberNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bankAcctNumberUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bankBranchNumber" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="bankBranchNumberNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bankBranchNumberUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bankCode" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="bankCodeNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bankCodeUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="chequeId" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="chequeIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="chequeIdUnAssigned" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitInd" type="xsd:byte"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="coverDebitIndUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="VoucherRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseVoucherRechargeMethod">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9ActivationVoucherRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseVoucherRechargeMethod">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="BucketIdentInfo">

        <complexContent>

          <extension base="tns2:BaseBucketIdent">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="bucketId" type="xsd:int"/>

              <element maxOccurs="1" minOccurs="0" name="bucketIdNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="bucketIdUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="SubscriberIdentInfo">

        <complexContent>

          <extension base="tns2:BaseSubscriberIdent">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="subscriberNo" type="xsd:int"/>

              <element maxOccurs="1" minOccurs="0" name="subscriberNoNull" type="xsd:boolean"/>

              <element maxOccurs="1" minOccurs="0" name="subscriberNoUnAssigned" type="xsd:boolean"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="CancelSplitRechargeMethodInfo">

        <complexContent>

          <extension base="tns2:BaseCancelRechargeMethod">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="IVRChannelInfo">

        <complexContent>

          <extension base="tns2:BaseChannel">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9WAPChannelInfo">

        <complexContent>

          <extension base="tns2:RPL9EPChannelInfo">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

      <complexType name="RPL9WEBChannelInfo">

        <complexContent>

          <extension base="tns2:RPL9EPChannelInfo">

            <sequence/>

          </extension>

        </complexContent>

      </complexType>

    </schema>

    <schema targetNamespace="http://data.util.core.css.amdocs.com" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType abstract="true" name="DataObject">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="baseDO" type="tns4:DataObject"/>

          <element maxOccurs="1" minOccurs="0" name="extensionDO" type="tns4:DataObject"/>

        </sequence>

      </complexType>

    </schema>

    <schema targetNamespace="http://data.ws.infra.core.css.amdocs.com" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="WSMessageType">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="msgCode" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="severity" type="xsd:int"/>

        </sequence>

      </complexType>

      <complexType name="WSCallbackType">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="URL" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="correlationId" type="xsd:string"/>

        </sequence>

      </complexType>

      <complexType name="WSCredentialsType">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="password" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="ticket" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="userName" type="xsd:string"/>

        </sequence>

      </complexType>

      <complexType name="WSLocaleType">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="country" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>

        </sequence>

      </complexType>

      <complexType name="WSHeaderType">

        <complexContent>

          <extension base="tns4:DataObject">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="hierarchySource" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="messages" type="impl:ArrayOf_tns3_WSMessageType"/>

              <element maxOccurs="1" minOccurs="0" name="wsCallback" type="tns3:WSCallbackType"/>

              <element maxOccurs="1" minOccurs="0" name="wsCredentials" type="tns3:WSCredentialsType"/>

              <element maxOccurs="1" minOccurs="0" name="wsLocale" type="tns3:WSLocaleType"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

    </schema>

    <schema targetNamespace="http://ws.api.interfaces.sessions.rpm.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="ArrayOf_tns3_WSMessageType">

        <complexContent>

          <restriction base="soapenc:Array">

            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns3:WSMessageType[]"/>

          </restriction>

        </complexContent>

      </complexType>

      <complexType name="ArrayOf_xsd_anyType">

        <complexContent>

          <restriction base="soapenc:Array">

            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>

          </restriction>

        </complexContent>

      </complexType>

      <complexType name="ArrayOf_tns2_RPL9RCAddOnInfo">

        <complexContent>

          <restriction base="soapenc:Array">

            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:RPL9RCAddOnInfo[]"/>

          </restriction>

        </complexContent>

      </complexType>

    </schema>

    <schema targetNamespace="http://messageHandling.jutil.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType abstract="true" name="MessageRepository">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="messageId" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="bundleName" type="xsd:string"/>

        </sequence>

      </complexType>

    </schema>

    <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="Vector">

        <sequence>

          <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>

        </sequence>

      </complexType>

    </schema>

    <schema targetNamespace="http://exceptions.acmarch.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType abstract="true" name="ACMException">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="mErrorParams" type="impl:ArrayOf_xsd_anyType"/>

          <element maxOccurs="1" minOccurs="0" name="mMsgRepository" type="tns7:MessageRepository"/>

          <element maxOccurs="1" minOccurs="0" name="mAttachedExceptions" type="apachesoap:Vector"/>

          <element maxOccurs="1" minOccurs="0" name="mSeverity" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="mIsPublished" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="clientVisible" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="formattedMessage" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="formattedLogMessage" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="attachedMessages" type="xsd:string"/>

          <element maxOccurs="1" minOccurs="0" name="formattedMode" type="xsd:byte"/>

          <element maxOccurs="1" minOccurs="0" name="lastFormattingMode" type="xsd:byte"/>

        </sequence>

      </complexType>

    </schema>

    <schema targetNamespace="http://domaindatatypes.rpm.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://exceptions.utils.rpm.amdocs"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="Rpmseq">

        <sequence>

          <element maxOccurs="1" minOccurs="0" name="notAssignedAll" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rpmseq" type="xsd:int"/>

          <element maxOccurs="1" minOccurs="0" name="rpmseqNull" type="xsd:boolean"/>

          <element maxOccurs="1" minOccurs="0" name="rpmseqUnAssigned" type="xsd:boolean"/>

        </sequence>

      </complexType>

    </schema>

    <schema targetNamespace="http://exceptions.utils.rpm.amdocs" xmlns="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://data.ws.infra.core.css.amdocs.com"/>

      <xsd:import namespace="http://messageHandling.jutil.amdocs"/>

      <xsd:import namespace="http://domaindatatypes.rpm.amdocs"/>

      <xsd:import namespace="http://datatypes.rpm.amdocs"/>

      <xsd:import namespace="http://exceptions.acmarch.amdocs"/>

      <xsd:import namespace="http://data.util.core.css.amdocs.com"/>

      <xsd:import namespace="http://ws.api.interfaces.sessions.rpm.amdocs"/>

      <xsd:import namespace="http://xml.apache.org/xml-soap"/>

      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

      <complexType name="RPMException">

        <complexContent>

          <extension base="tns6:ACMException">

            <sequence>

              <element maxOccurs="1" minOccurs="0" name="mMessage" type="xsd:string"/>

              <element maxOccurs="1" minOccurs="0" name="mRcgErrId" type="tns8:Rpmseq"/>

            </sequence>

          </extension>

        </complexContent>

      </complexType>

    </schema>

  </wsdl:types>


    <wsdl:message name="cancelRechargeResponse">


        <wsdl:part name="cancelRechargeReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="rechargeServiceResponse1">


        <wsdl:part name="rechargeServiceReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="preAuthorizeRequestRequest">


        <wsdl:part name="in0" type="tns2:RPL9CAChannelInfo"/>


        <wsdl:part name="in1" type="tns2:RPL9PreauthorizationMethodInfo"/>


        <wsdl:part name="in2" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="in3" type="tns2:BaseSubscriberIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="cancelReversibleRechargeResponse">


        <wsdl:part name="cancelReversibleRechargeReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="voidRTRRequest">


        <wsdl:part name="in0" type="tns2:RPL9CAChannelInfo"/>


        <wsdl:part name="in1" type="tns2:CancelRechargeMethodInfo"/>


        <wsdl:part name="in2" type="tns2:SubscriberPrimaryResourceInfo"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="vestaRechargeServiceRequest">


        <wsdl:part name="in0" type="tns2:RPL9VestaRechargeInputDetailsInfo"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="vestaRechargeServiceResponse">


        <wsdl:part name="vestaRechargeServiceReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="reversibleRechargeRequest">


        <wsdl:part name="in0" type="tns2:RPL9CAChannelInfo"/>


        <wsdl:part name="in1" type="tns2:RPL9ReversibleCashMethodInfo"/>


        <wsdl:part name="in2" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="in3" type="tns2:BaseSubscriberIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="RPMException">


        <wsdl:part name="fault" type="tns5:RPMException"/>


    </wsdl:message>


    <wsdl:message name="reversibleRechargeResponse">


        <wsdl:part name="reversibleRechargeReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="rechargeServiceResponse">


        <wsdl:part name="rechargeServiceReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="preAuthorizeRequestResponse">


        <wsdl:part name="preAuthorizeRequestReturn" type="tns2:RPL9PreauthorizationRechargeResult"/>


    </wsdl:message>


    <wsdl:message name="cancelRechargeRequest">


        <wsdl:part name="baseChannel" type="tns2:BaseChannel"/>


        <wsdl:part name="baseCancelRechargeMethod" type="tns2:BaseCancelRechargeMethod"/>


        <wsdl:part name="baseBucketIdent" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="voidRTRResponse">


        <wsdl:part name="voidRTRReturn" type="tns2:RechargeResult"/>


    </wsdl:message>


    <wsdl:message name="cancelReversibleRechargeRequest">


        <wsdl:part name="in0" type="tns2:RPL9CAChannelInfo"/>


        <wsdl:part name="in1" type="tns2:RPL9CancelReversibleCashMethodInfo"/>


        <wsdl:part name="in2" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="in3" type="tns2:BaseSubscriberIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="rechargeServiceRequest1">


        <wsdl:part name="baseChannel" type="tns2:BaseChannel"/>


        <wsdl:part name="baseVoucherRechargeMethod" type="tns2:BaseVoucherRechargeMethod"/>


        <wsdl:part name="baseBucketIdent" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="baseSubscriberIdent" type="tns2:BaseSubscriberIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:message name="rechargeServiceRequest">


        <wsdl:part name="baseChannel" type="tns2:BaseChannel"/>


        <wsdl:part name="baseRegularRechargeMethod" type="tns2:BaseRegularRechargeMethod"/>


        <wsdl:part name="baseBucketIdent" type="tns2:BaseBucketIdent"/>


        <wsdl:part name="baseSubscriberIdent" type="tns2:BaseSubscriberIdent"/>


        <wsdl:part name="header" type="tns3:WSHeaderType"/>


    </wsdl:message>


    <wsdl:portType name="RPL9RechargeServices">


        <wsdl:operation name="rechargeService" parameterOrder="baseChannel baseRegularRechargeMethod baseBucketIdent baseSubscriberIdent header">


            <wsdl:input message="impl:rechargeServiceRequest" name="rechargeServiceRequest"/>


            <wsdl:output message="impl:rechargeServiceResponse" name="rechargeServiceResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="rechargeService" parameterOrder="baseChannel baseVoucherRechargeMethod baseBucketIdent baseSubscriberIdent header">


            <wsdl:input message="impl:rechargeServiceRequest1" name="rechargeServiceRequest1"/>


            <wsdl:output message="impl:rechargeServiceResponse1" name="rechargeServiceResponse1"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="preAuthorizeRequest" parameterOrder="in0 in1 in2 in3 header">


            <wsdl:input message="impl:preAuthorizeRequestRequest" name="preAuthorizeRequestRequest"/>


            <wsdl:output message="impl:preAuthorizeRequestResponse" name="preAuthorizeRequestResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="reversibleRecharge" parameterOrder="in0 in1 in2 in3 header">


            <wsdl:input message="impl:reversibleRechargeRequest" name="reversibleRechargeRequest"/>


            <wsdl:output message="impl:reversibleRechargeResponse" name="reversibleRechargeResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="cancelReversibleRecharge" parameterOrder="in0 in1 in2 in3 header">


            <wsdl:input message="impl:cancelReversibleRechargeRequest" name="cancelReversibleRechargeRequest"/>


            <wsdl:output message="impl:cancelReversibleRechargeResponse" name="cancelReversibleRechargeResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="vestaRechargeService" parameterOrder="in0 header">


            <wsdl:input message="impl:vestaRechargeServiceRequest" name="vestaRechargeServiceRequest"/>


            <wsdl:output message="impl:vestaRechargeServiceResponse" name="vestaRechargeServiceResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="voidRTR" parameterOrder="in0 in1 in2 header">


            <wsdl:input message="impl:voidRTRRequest" name="voidRTRRequest"/>


            <wsdl:output message="impl:voidRTRResponse" name="voidRTRResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


        <wsdl:operation name="cancelRecharge" parameterOrder="baseChannel baseCancelRechargeMethod baseBucketIdent header">


            <wsdl:input message="impl:cancelRechargeRequest" name="cancelRechargeRequest"/>


            <wsdl:output message="impl:cancelRechargeResponse" name="cancelRechargeResponse"/>


            <wsdl:fault message="impl:RPMException" name="RPMException"/>


        </wsdl:operation>


    </wsdl:portType>


    <wsdl:binding name="RechargeServicesSoapBinding" type="impl:RPL9RechargeServices">


        <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>


        <wsdl:operation name="rechargeService">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="rechargeServiceRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="rechargeServiceResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="rechargeService">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="rechargeServiceRequest1">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="rechargeServiceResponse1">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="preAuthorizeRequest">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="preAuthorizeRequestRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="preAuthorizeRequestResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="reversibleRecharge">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="reversibleRechargeRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="reversibleRechargeResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="cancelReversibleRecharge">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="cancelReversibleRechargeRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="cancelReversibleRechargeResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="vestaRechargeService">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="vestaRechargeServiceRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="vestaRechargeServiceResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="voidRTR">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="voidRTRRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="voidRTRResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


        <wsdl:operation name="cancelRecharge">


            <wsdlsoap:operation soapAction=""/>


            <wsdl:input name="cancelRechargeRequest">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:input>


            <wsdl:output name="cancelRechargeResponse">


                <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:output>


            <wsdl:fault name="RPMException">


                <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RPMException" namespace="http://ws.api.interfaces.sessions.rpm.amdocs" use="encoded"/>


            </wsdl:fault>


        </wsdl:operation>


    </wsdl:binding>


    <wsdl:service name="RPL9RechargeServicesService">


        <wsdl:port binding="impl:RechargeServicesSoapBinding" name="RechargeServices">


            <wsdlsoap:address location="http://mwhlvsp319:42013/axis/services/RechargeServices"/>


        </wsdl:port>


    </wsdl:service>


</wsdl:definitions>
